# Conda env
**/env
!.env

# Jupyter Notebook/Python/Databricks metadata
**/.ipynb_checkpoints/
**/spark-warehouse/
**/__pycache__/
**/.empty
*.ipynb

# Data and Notebooks files
data/*
notebooks/*

# Keep .gitkeep files
!**/.gitkeep